/* Basic Styling 
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
*/

.container1 {
    max-width: 100%;
    padding: 50px;
    display: flex;
    background: #fff;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    border-radius: 20px;
}


/* Columns */

.left-column {
    width: 55%;
    margin-top: 5%;
    position: relative;
}

.right-column {
    width: 45%;
    margin-top: 60px;
    margin-left: 0;
}


/* Left Column */


/*.large-image {
  width: 100px;
  height: 100px;
}*/


/*
.small-image img {
  display: flex;
  width: 40px;
  margin: 20px auto 0; 
  align-items: center;
  justify-content: space-around;
}*/

.large-image img {
    width: 50%;
    position: relative;
    /*top: 0;*/
    /*z-index: -1; */
    transform: rotate(20deg);
    align-items: center;
    margin-top: 20px;
    margin-left: 20%;
    margin-bottom: 10%;
    padding-bottom: 5px;
}

.large-image img:hover {
    opacity: 50%;
    cursor: pointer;
}


/* Right Column */


/* Product Description */

.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

.product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: dark brown;
    letter-spacing: -2px;
}

.product-description p {
    font-size: 16px;
    font-weight: 300;
    color: black;
    line-height: 24px;
}


/* Product weight */

.title1 {
    margin-bottom: 5px;
    color: #555;
    font-size: 13px;
    font-weight: 600;
    margin-top: 5%;
}

.input-group-btn1 input {
    width: 15%;
}

.product-price h2 {
    font-size: 30px;
    font-weight: 300;
    color: #2A2A66;
    margin-right: 20px;
}

.cart-btn {
    display: inline-block;
    background-color: #FF6B6B;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
    margin-top: 5%;
}

.cart-btn:hover {
    background-color: red;
    transform: translateY(-5px);
}

.buy-btn {
    display: inline-block;
    background-color: #FF6B6B;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
    margin-top: 5%;
}

.buy-btn:hover {
    background-color: red;
    transform: translateY(-5px);
}